#### 파이썬 입출력 예시

-사용자로부터 두 개의 숙자를 입력받은 후 해당 두개의 숫자를 더한 값을 출력하는 코드

In [4]:

answer01 = input("first")
answer02 = input("second")
print(int(answer01) + int(answer02))

first 1
second 2

3

#### 사용자로부터 두 개의 숫자를 입력받은 후 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 각각 출력하는 코드

In [18]:
num01 = int(input("first:"))
num02 = int(input("second:"))
print("곱:", num01 * num02) 
print(f"나눈 값:{num01 / num02}")
print(f"나눈 몫:{num01 // num02}")
print("나머지:" , num01 % num02)

first: 5
second: 2

곱: 10
나눈 값:2.5
나눈 몫:2
나머지: 1

### 데이터 자료구조 - 리스트(list)
- 파이썬의 리스트 => 다른 프로그래밍 언어에서 주로 배열(array) 라는 이름으로 많이 불림
- 프로그래밍 언어 => 인간의 작업보다 효율적이다 => 패턴을 가지고 있는 반복적인 작업을 매우 빠르게 잘하기 때문
- 어떤 연산처리 작업을 반복해서 할 수 있는 형태의 자료구조여야만 위의 작업을 할 수 있음
- 이터러블 = iterable = 반복적인 // class
- 리스트 자료구조는 내부에 입력된 값에 고유한 개별적인 index 값을 부여
- 
- 리스트는 각각 고유한 인덱스값을 가지고 있음 (0부터 시작함) 오른쪽부터 찾으려면 -1을 넣기 
- 리스트에서 특정 인덱스값을 찾아오고자 할 때 변수명[index]
- 문자열과 동일하게 슬라이싱 가능 => 변수명[start_index : end_index+1]
- append(0) : 리스트 자료구조에서 왼쪽부터 신규로 값을 추가할 수 있도록 해주는 함수
- extend( ) : 리스트 자료구조에서 왼쪽부터 신규로 값을 추가하는데 있어서 복수의 값을 한 번에 추가할 수 있음 
- remove() : 함수의 인자값을 리스트 자료구조의 읜쪽부터 서칭하다가 발견 시 삭제해주는 함수
- insert(indexno. , index ) : 리스트 자료구조 안에 값을 추가할 수 있는 함수 -> 첫번째 인덱스는 추가하고자 하는 위치, 두번째 인덱스는 추가하고자 하는 값
- del : del 변수명.[index] => 해당 인덱스를 가진 값을 삭제
- sort() : 리스트 안에 있는 값을 오름차순으로 정렬할 때 사용하는 함수
- reverse(): 리스트 안에 있는 값을 내림차순으로 정렬할 때 사용하는 함수
- split( ) : 문자열의 내용을 ( ) 안의 인자값을 기준으로 쪼개어 list로 만듬 "python is easy" => ["python" , "is" , "easy"]

#### 리스트 자료구조 생성하는 방법
- 변수 선언과 함께 직접 대괄호 입력 후 내부에 요소들을 입력하는 방법
- 아무런 값도 존재하지 않는 빈 리스트를 만들어놓고 값을 하나씩 채워가는 방법
- 파이썬 내 클래스 문법을 통해 이미 생성된 리스트 프로토타입을 활용해서 인스턴스 객체를 생성하는 방법

In [21]:
mydata = ["hello" ,1 ,2 ,"world"]
news = ["오마이뉴스", "한국일보", "시사인", "뉴시스", "KBSNEWS", "스포츠조선"]

for media in news : #반복문 
    print(media)

오마이뉴스
한국일보
시사인
뉴시스
KBSNEWS
스포츠조선

In [28]:
location = ["서울시" , "경기도" , "인천시"]

print(location[0])
print(location[1])
print(location[2])
print(location)
print(type(location)) #list 라는 데이터 형식

서울시
경기도
인천시
['서울시', '경기도', '인천시']
<class 'list'>

In [90]:
location.append("부산시") #append는 list에 값을 추가

#print(location)
location

['서울시', '부산시', '부산시']

In [43]:
location.append("완도군", "해남")
# append 는 하나의 인수만 입력가능

TypeError: list.append() takes exactly one argument (2 given)

In [64]:
location[-1]

'부산시'

In [66]:
location[1:3]

['경기도', '인천시']

In [86]:
location.remove("부산시")
location

['서울시', '경기도', '인천시', '부산시']

In [87]:
location.remove("인천시")

In [89]:
del location[1]

In [91]:
location.extend(["천안", "대구"])

In [92]:
location

['서울시', '부산시', '부산시', '천안', '대구']

In [93]:
location.insert(0, "제주도")

In [94]:
location

['제주도', '서울시', '부산시', '부산시', '천안', '대구']

In [101]:
location01 = []

type(location01)

list

In [102]:
location01.append("강원도")

In [105]:
location01

['강원도']

In [122]:
a01 = str(input())
answers = [] 
answers.extend(a01)
#answers.append(a01)

 3

In [123]:
answers

['3']

In [119]:
location02 = list()
print(type(location02))

<class 'list'>

In [135]:
numbers = [2, 1, 4, 3]
print(numbers)

numbers.sort()
print(numbers)

numbers.reverse()
print(numbers)

[2, 1, 4, 3]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [149]:
pythonBasic = "python is easy" 
pylist = pythonBasic.split()
pylist[0]

'python'