In [16]:
# 사용자로부터 점수를입력 받은 후 등급을 출력하세요 
#100~81 : A / 80~61 : B / 60~0 : c
score = int(input("score?"))

if score > 80 and score <= 100 : 
    print("A")
else :
    if score > 0 :
        if score >60 : 
            print("B")
        else :
            print("C")

score? 110

B

In [46]:
# 사용자로부터 주민등록번호를 입력받아서 출생연도만 확인 후 출력해주세요 
id1 = str(input("주민번호"))
print(f"{id1[0:2]} 년생입니다")

주민번호 101010-1010101

10 년생입니다

In [47]:
id2 = id1.split("-")
print(f"{id2[0][0:2]} 년생입니다") #id2의 0번째 인덱스에서 또 한번 0:2 인덱스로

10 년생입니다

In [57]:
# 사용자로부터 주민등록번호를 입력 받아 성별을 "남성" 또는 "여성"으로 출력
id3 = int(id2[1][0]) 
if id3 % 2 == 1 : 
    print("남성")
elif id3 % 2 == 0 :
    print("여성")

남성

In [66]:
mystr = "a man goes into the room..."

result = mystr.strip(".")
result

'a man goes into the room'

In [72]:
code = "000770\n"
code.strip() 

#strip() : 문자열 앞,뒤 상관없이 공백이라고 판단되는 문자열(공백,tab,개행) 을 모두 제거하는 역할을 하는 함수 
#\n : 줄바꿈 
#\t : tab

'000770'

In [75]:
python_desc = "Installing Python is generally easy, and nowadays many Linux and UNIX distributions include a recent Python. Even some Windows computers (notably those from HP) now come with Python already installed."
print(python_desc.count("Python"))
python_desc.count("python")

3

0

In [77]:
#사용자로부터 note 라는 문자열을 받았다고 가정하고 , 해당 문자열 안에 n 이 들어가있는지 확인. 있다면 0, 없다면 1 
note = input("note")
note1=note.count("n")
if note1 == 0 :
    print("1")
else :
    print("0")

note tete

1

In [95]:
letters = input()

var = letters.find("n")
#일반적인 프로그래밍언어는 true / false 형태임 
#truethy, falsy => 참인듯한 값, 거짓인듯한 값 
# 0,null,undefined => falsy
# 파이썬에서는 0 => truethy , -1 => falsy

#if var == 0 : 
#    print("0")
#else :
#    print("1")

 ㅠ

In [111]:
#사용자로부터 주민등록번호를 입력받은 후 사용자의 출생지가 어디인지 확인 후 출력해주세요
#주민등록번호 뒷자리 중에서 첫번째 수는 성별 두번째 숫자부터 세번째까지가 출생지를 의미함 
#00~08 서울 / 09~12 부산 /13~15 인천

code1 = input()
code2 = int(code1.split("-")[1][1:3])

if code2 >= 0 and code2 <= 8 :
    print("seoul")
elif code2 >= 9 and code2 <= 12 :
    print("busan")
elif code2 >= 13 and code2 <= 15 :
    print("incheon")

 123123-1111111

busan

In [110]:
data = "800000-2124567"
data.split("-")[1][1:3]

'12'