#### 자료구조 형태
- 리스트
- 문자열,숫자, 불리언 
- 튜플 (tuple)
  - 리스트와 달리 튜플은 소괄호 형태를 띄고 있음
  - 튜플은 최초 생성 후 값을 삭제, 추가 할 수 없음
  - 단, 튜플 간 병합기능 혹은 튜플 자체의 복제 등은 가능함
  - 튜플은 리스트처럼 이터러블한 객체 속성을 가지고 있음 => 반복문 사용 가능 && 튜플 내부 아이템들은 각각 저마다의 고유한 인덱스값을 가지고 있음
  - 함수의 반환값으로 찾아온 값을 활용해서 일반 변수 안에 값을 넣을 때, 구조분해할당의 형식으로 값을 전달할 수 있음.
  - 튜플을 수정,편집,삭제를 하고 싶다면 => 리스트로 바꾸기 => list(튜플)

In [10]:
listItems = []
tupleItems = (1,2,3) 
print(type(listItems))
print(type(tupleItems))

<class 'list'>
<class 'tuple'>

In [12]:
for item in tupleItems : 
    print(item)

1
2
3

In [35]:
#del tutupleItems[1]
#tupleItems.append(4)
#tupleItems[4] = 4

tuple01 = (1,2)
tuple02 = (3,4)
print(tuple01 + tuple02)
print(tuple01*3)

(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)

In [56]:
x = 1 
y = 2

In [45]:
# temp = x # -> 1 
# x = y 
# y = temp

In [60]:
x, y = y, x # = (x,y) = (y,x)

In [59]:
x ,y

(2, 1)

In [61]:
def quot_and_rem(x,y) : 
    quot = x // y
    rem = x % y 
    return quot,rem

In [73]:
(quot01, rem01) = quot_and_rem(10,3)

In [76]:
quot01

3

In [78]:
rem01

1

In [1]:
data10 = (1,2,3)
result = list(data10)