In [24]:
# 사용자로부터 어떤 값을 받고 해당 값을 한화로 바꿔서 출력되도록 해주세요. 
# ex) 100 => 환율 1112원 // 111200 원 으로 출력되도록

balance = input("금액을 $로 입력하세요")
exrateUSDKRW = 1112
print(f"당신의 현재 잔액은 ${balance}, 한화로 {exrateUSDKRW*int(balance)}원 입니다.")

금액을 $로 입력하세요 100

당신의 현재 잔액은 $100, 한화로 111200원 입니다.

In [30]:
balance = input("금액 ___달러 로 입력하세요 ")
exrateUSDKRW = 1112
print(f"당신의 현재 잔액은 ${balance.strip("달러")}, 한화로 {exrateUSDKRW*int(balance.strip("달러"))}원 입니다.")

금액 ___달러 로 입력하세요  100 달러

당신의 현재 잔액은 $100 , 한화로 111200원 입니다.

In [40]:
# strip 을 사용하면 단위가 "달러" 가 아닌 경우 불가능함 
# split 을 사용하면 공백이 없을 경우 사용이 불가능함

balance = input("금액 ___달러 로 입력하세요 ")
exrateUSDKRW = 1112
balance.replace("달러","")

print(f"당신의 현재 잔액은 ${balance.replace("달러","")}, 한화로 {exrateUSDKRW*int(balance.replace("달러","")):,}원 입니다.")

금액 ___달러 로 입력하세요  100달러

당신의 현재 잔액은 $100, 한화로 111,200원 입니다.

In [80]:
# 달러의 환율을 1112원으로 , 위안화의 환율을 171원으로, 엔화의 환율을 1010원으로 설정하고 해당 화폐당 환율의 값을 딕셔너리라는 구조의 자료로 정의하라
# 사용자가 원하는 값을 달러,위안화,엔화로 입력했을 때 이 값을 원으로 환전하여 출력

exchange = {"USD" : 1112 , "CNY" : 171 , "JPY" : 10.1}

price = input("금액을 USD, CNY, JPY를 구분하여 입력하세요 ex) 100 USD")

balance = price.split(" ")[0] #사용자의 돈
currency = price.split(" ")[1] #사용자의 돈 화폐 종류 
exbalance = int(balance) * float(exchange[currency])

print(f"당신의 환전액은 {price}, 한화로 {exbalance:,} 원 입니다")

금액을 USD, CNY, JPY를 구분하여 입력하세요 ex) 100 USD 100 JPY

당신의 환전액은 100 JPY, 한화로 1,010.0 원 입니다

In [79]:
exchange_list = {"달러" : 1112 , "위안" : 171 , "엔화" : 10.1}
user_money = input("환전하고 싶은 금액 입력")
#100달러
if user_money[-2:] == "달러" : 
    print(f"{exchange_list["달러"] * int(user_money[:-2]):,}원")
elif user_money[-2:] == "위안" : 
    print(f"{exchange_list["위안"] * int(user_money[:-2]):,}원")
elif user_money[-2:] == "엔화" : 
    print(f"{exchange_list["엔화"] * int(user_money[:-2]):,}원")

환전하고 싶은 금액 입력 100엔화

1,010.0원

In [97]:
# 2~9단까지 => 숫자 2부터 9까지 반복순회 해야한다 2) 피연산자로 1~9까지 반복순회가 또 필요하다 
for num1 in range(2,10) :
    print(f"--------------------- \n -구구단 {num1}단 \n")
    for num2 in range (1,10):
        print(f"{num1} x {num2} = {num1*num2}")
    print("---------------------\n")

---------------------
 -구구단 2단

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
---------------------

---------------------
 -구구단 3단

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
---------------------

---------------------
 -구구단 4단

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
---------------------

---------------------
 -구구단 5단

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
---------------------

---------------------
 -구구단 6단

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
---------------------

---------------------
 -구구단 7단

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
---------------------

---------------------
 -구구단 8단

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
---------------------

---------------------
 -구구단 9단

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
---------------------

In [102]:
#### 위에서 작성한 코드를 활용하여 다음과 같은 결과를 출력해주세요. 구구단 2~9단까지 출력하되 계산된 결과값이 짝수인 경우만 출력해주세요

for num1 in range(2,10) :
    print(f" \n------구구단 {num1}단----- \n")
    for num2 in range (1,10):
        if (num1*num2) % 2 == 0 :
            print(f"{num1} x {num2} = {num1*num2}")
    print("---------------------")

------구구단 2단-----

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
---------------------

------구구단 3단-----

3 x 2 = 6
3 x 4 = 12
3 x 6 = 18
3 x 8 = 24
---------------------

------구구단 4단-----

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
---------------------

------구구단 5단-----

5 x 2 = 10
5 x 4 = 20
5 x 6 = 30
5 x 8 = 40
---------------------

------구구단 6단-----

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
---------------------

------구구단 7단-----

7 x 2 = 14
7 x 4 = 28
7 x 6 = 42
7 x 8 = 56
---------------------

------구구단 8단-----

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
---------------------

------구구단 9단-----

9 x 2 = 18
9 x 4 = 36
9 x 6 = 54
9 x 8 = 72
---------------------

In [106]:
dongs = ["6209동", "6208동","6207동"]
hos = ["101호", "102호", "103호", "104호"]
for dong in dongs :
    for ho in hos :
        print(f"{dong} {ho}")
    print("")

6209동 101호
6209동 102호
6209동 103호
6209동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6207동 101호
6207동 102호
6207동 103호
6207동 104호

In [130]:
dongs = ["6209동", "6208동","6207동"]
hos = ["101호", "102호", "103호", "104호"]

dongho = ()
for dong in dongs : 
    for ho in hos : 
        dongho = (dong , ho)
        print(dongho)
print(type(dongho))

('6209동', '101호')
('6209동', '102호')
('6209동', '103호')
('6209동', '104호')
('6208동', '101호')
('6208동', '102호')
('6208동', '103호')
('6208동', '104호')
('6207동', '101호')
('6207동', '102호')
('6207동', '103호')
('6207동', '104호')
<class 'tuple'>

In [127]:
tupledata = ("coding01" , "coding02", "coding03" )
temp_list = list(tupledata)
temp_list.append("coding04")
result = tuple(temp_list)

result

('coding01', 'coding02', 'coding03', 'coding04')

In [128]:
tupleadd = ("coding04")
tuple(list(tupledata) + ["coding04"])

('coding01', 'coding02', 'coding03', 'coding04')

In [187]:
# 딕셔너리 형태의 자료구조를 하나 만들어서 아래와 같이 값을 출력해주세요
# enviroment : 환경
# company : 기업
# goverment : 정부
# face : 얼굴

words = {"enviroment" : ["환경", "x"], 
         "company" : ["회사", "o"], 
         "goverment" : ["정부", "x"], 
         "face" : ["얼굴", "x"],
         "word" : ["단어" , "x"],
}
key= words.keys()
for k in key : 
    print(f"{k} : {words[k]}")

enviroment : ['환경', 'x']
company : ['회사', 'o']
goverment : ['정부', 'x']
face : ['얼굴', 'x']
word : ['단어', 'x']

In [150]:
type(words.values() )

dict_values

In [188]:
# 사용자로부터 사전에 등록되어 있는 단어들 중 1개를 입력받으세요, 그리고 입력받은 단어의 경우 ,
#외움표시 o 표시로 수정(출력) 하고 , 아직 외우지 못한 단어들만 출력하도록 하는 코드
memory = input("word")
if memory in key : 
  words[memory][1] = "o"
else : 
    print("없는 단어입니다")

for w in key : 
    wordlist = words[w] 
    if wordlist[1] == "x":
        print(f"\n{w}")

word goverment

enviroment

face

word

In [167]:
memory = list(list(words.values()))[1][1]
memory = list(list(words.values()))[n][1]

'o'

In [ ]:
english = input("다 외운 단어 입력하기")

if english in data.keys() : 
    print(data[english])
else:
    print("존재하지 않는 단어입니다")

In [194]:
dict_all = {"enviroment":"환경" , "goverment":"정부"}
dict2 = {"company" : "회사" , "face":"얼굴"} 
dict3 = {"apple":"사과"}
# dict_all 안에 dict2, dict3를 전부 넣기 , dict all 출력 
key2 = dict2.keys()
key3 = dict3.keys()


for item2 in key2 : 
    dict_all[item2] = dict2[item2]
for item3 in key3 : 
    dict_all[item3] = dict3[item3]

dict_all

{'enviroment': '환경',
 'goverment': '정부',
 'company': '회사',
 'face': '얼굴',
 'apple': '사과'}

In [203]:
number_list = {1,2,3}
number_list.add(4)

number_list.update([5,6]) #한번에 여러 값을 추가하려면 []로 리스트의 형태로 
number_list

number_list.remove(2)


number_list

{1, 3, 4, 5, 6}

In [213]:
# 임의의 숫자 두개를 사용자로부터 받아 해당 두개의 숫자를 곱한 값을 반환하는 함수를 만들고 , 해당 함수의 결과값을 화면에 출력하세요

def multi() :
    num1 = int(input("첫번째 숫자:"))
    num2 = int(input("두번째 숫자:"))
    result = num1*num2
    return(result)

print(multi())

첫번째 숫자: 1
두번째 숫자: 2

2

In [221]:
num1 = int(input("1"))
num2 = int(input("2"))

def f1(num1, num2):
    return num1 * num2

print(f1(num1,num2))

1 2
2 3

6

In [224]:
num_all = [int(input("입력")) for _ in range(2)]

def f2(num1,num2):
    return num1*num2

print(f1(num_all[0],num_all[1]))

입력 45
입력 4

180

In [237]:
# 인자값 3개를 받을 수 있는 함수를 호출합니다. 
#func1(인자1,인자2,인자3)
# 인자 3이 + 라면 인자1,인자2 를 더한 값 을 반환 / *라면 인자1*인자2 / 그런데 인자3이  둘 다 아니라면 0을 반환하도록

def func1():
    num1 = int(input("first"))
    num2 = int(input("second"))
    num3 = input("연산자")
    if num3 == "+" : 
        result = num1 + num2 
    elif num3 == "*":
        result = num1*num2
    else : 
        result = 0
    return(result)
 
func1()

first 1
second 2
연산자 /

0

In [245]:
def calc(data1, data2, way):
    if way == "+": 
        return data1 + data2
    elif way == "*":
        return data1 * data2 
    else : 
        return 0

data01 = calc(1,2,"+")
data02 = calc(3,2,"*")
data03 = calc(2,4,"-")
print(data01 , data02 , data03)

3 6 0