#### 반복문 

```
for 변수 in (리스트 || 문자열 => 이터러블한 객체속성을 가지고 있는 자료구조)  :
    실행문

while 조건 :
    실행문
```

In [3]:
lan = ["python" , "TS" , "Node"]
#for item in ["python" , "TS" , "Node"] :

for item in lan : 
    print(item)

python
TS
Node

In [5]:
for num in [1,2,3,4,5,6,7,8,9,10] :
    print(num)

1
2
3
4
5
6
7
8
9
10

In [10]:
for num in range(1,11) :
    print(num)

1
2
3
4
5
6
7
8
9
10

In [18]:

for a in range(1,4) : 
    input("favorite")

favorite asa
favorite
favorite d

In [20]:
range(0 ,3)

range(0, 3)

In [24]:
data_list = ["list1", "list2", "list3"]

for index in data_list :
    print(index)

list1
list2
list3

In [45]:
sum = 0 #전역변수 

for index in range(1,11) : 
    #sum = sum+index
    #복합대입연산자 
    #sum += index
    sum -= index
print(sum)

-55

In [1]:
#while 1 : 
    #print("hello world")

In [50]:

name = ""
while name != "foo" : 
    name = input("what is your name")
    print(f"hi {name} where is foo")

what is your name asd

hi asd where is foo

what is your name as

hi as where is foo

what is your name asd

hi asd where is foo

what is your name asd

hi asd where is foo

what is your name foo

hi foo where is foo

In [52]:
# 1~10 까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 활용하여 작성
num1 = 0
for num in range(1,11):
    num1 += num
print(num1)

55

In [6]:
# 사용자로부터 2 ~ 9 사이의 숫자를 입력받은 후 해당 숫자에 대한 구구단을 출력 
num2 = int(input("2~9 사이의 숫자"))

if num2 <= 9 and num2 >= 2:
    for num3 in range(1,10):
        print(f"{num2} x {num3} = {num2*num3}")
else :
    print("2~9 의 숫자를 선택하십시오")

2~9 사이의 숫자 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [40]:
# name = "[dave], [david], [andy], [juliet]"
# 위 name이라는 변수 안에 담긴 값을 다음처럼 화면에 출력해주세요 
# dave
# david 
# andy 
# juliet 
name = "[dave], [david], [andy], [juliet]"
name1 = name.split()

for n in range(0,4):
    print(name1[n].strip("[],"))

dave
david
andy
juliet

In [43]:
name = "[dave], [david], [andy], [juliet]"
name01 = name.split(", ")
for str_name in name01 : 
    print(str_name.strip("[]"))

dave
david
andy
juliet

In [46]:
name = "[dave], [david], [andy], [juliet]"
name01 = name.split(", ")
for str_name in name01 : 
    print(str_name[1:-1])

dave
david
andy
juliet

In [54]:
#1부터 30까지의 숫자 중 3의 배수만 출력해주세요 (while 문 활용하여 값을 도출)
# 생성 및 찾아온 숫자중에서 3의 배수를 찾는다 => 3으로 나누었을 때, 나머지의 값이 0 => % 연산자 사용 
num = ""
while num <= 30 and num >=1 :
    if num % 3 == 0 :
        print(num)

In [55]:
num = 0 
while num < 30 : 
    num += 1 
    if num % 3 == 0 : 
        print(num)

3
6
9
12
15
18
21
24
27
30

In [59]:
for num in range(1,31) : 
    if num % 3 == 0 :
        print(num)

3
6
9
12
15
18
21
24
27
30

In [77]:
# 다음 리스트 자료구조에서 음수값을 삭제하고, 양수값만 가지고 있는 새로운 리스트 변수로 만들어서 출력해주세요.
num_list = [0,-11,31,22,-11,33,-44,-55]
num_list2 = []

for n in range(0,8):
    if num_list[n] >= 0 :
        num_list2.append(num_list[n])
print(num_list2)

[0, 31, 22, 33]

In [83]:
num_list = [0,-11,31,22,-11,33,-44,-55]
new_list = []

for num in num_list : 
    if num >= 0 : 
        new_list.append(num)
print(new_list)

[0, 31, 22, 33]

In [82]:
num_list = [0,-11,31,22,-11,33,-44,-55]
num_list2 = []

for n in range(0,8):
    if str(num_list[n]).find("-") == -1 :
        num_list2.append(num_list[n])
print(num_list2)

[0, 31, 22, 33]

In [87]:
# 아래 리스트에 있는 데이터들의 길이를 출력하세요 . 단 한줄에 한 개씩 구분 
list_data = ["Java", "C++" , "Python", "Node"]
for item in list_data : 
    print(len(item))

4
3
6
4

In [105]:
filelist = ["exercise01.docx","exercise02.docx","exercise03.docx","exercise04.docx"]

for filename in filelist : 
    print(filename.split(".")[0])

exercise01
exercise02
exercise03
exercise04

In [152]:
filelist = ["exercise01.docx","exercise02.csv","exercise03.txt","exercise04.hwp"]
for filename in filelist :
    if filename.find("txt") == 0 :
        print(filename)

filelist[2].find("txt")

11

In [119]:
filelist = ["exercise01.docx","exercise02.csv","exercise03.txt","exercise04.hwp"]
for filename in filelist :
    if filename.split(".")[1] == "txt" :
        print(filename)

exercise03.txt